body{
    background: rgb(88,88,88);
    background: radial-gradient(circle, rgba(88,88,88,1) 41%, rgba(24,23,23,1) 87%);  
}


#carouselExampleIndicators {
    max-width: none;
    height: 500px;
}

.carousel-item img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}